{{> header}}
<form action="/">
    <div class="form-group">
        <h6 class="display-4 text-light">
            Erreur de connexion
        </h6>
        <h3 class="text-danger">Mot de passe ou nom d'utilisateur incorrect merci de réssayer</h3>
        <p><button class="btn btn-light" type="submit">Retour</button></p>


    </div>
</form>
<form action="/register">
    <div class="form-group"></div>
    <h2 class="text-warning">Pas encore inscrit ?
    </h2>
    <p><button class="btn btn-light" type="submit">S'inscrire</button></p>

    </div>
</form>
{{> footer}}