{{> header}}
<form class="form-inline" method="POST" action="/game">
    <input id="jeu" class="form-control" placeholder="Jeux" name="research"> </input>
    <button id="submit" class="btn btn-danger">Rechercher</button>
</form>
<br>
<br>
<div form="text-inline">
    <h1 class="text-white"> Jeu(x) trouvé(s): {{count}}
    </h1>
</div>
<br>
<form  method="post" action="/popular">
    <input class="btn btn-warning float-left" type="submit" value="Jeux du Moment">
</form>
<br>
<br>
<br> 
<div class="row row-cols-2 row-cols-sm-1">{{#results}}
    <span class="border border-danger rounded shadow p-3 mb-5 bg-light rounded w-auto" >
       
    <div class="col">
        <div class="text-center">
        <h1 class="text-danger">{{name}}</h1>
        <div class="bg-light clearfix">
        <p>
            {{#authenticated}}
            <form method="POST" action="/ajout/{{id}}/{{name}}">
                <input class="btn btn-success float-right" type="submit" value="Ajouter à ma liste">
            </form>
            {{/authenticated}}
        </p>
        <p>
            <form method="GET" action="/gameInfo/{{slug}}">
                <input class="btn btn-primary float-left " type="submit" value="Plus d'informations">
            </form>
        </p></div>
        <br>
        <img src="{{background_image}}" class="img-fluid" alt="Responsive image"></div>
    </div></span>{{/results}}
</div> 
</div>
<br>
<br>

<div class="bg-dark clearfix">
    {{#hasPrev}}
    <form  method="GET" action="/previous">
        <input class="btn btn-secondary float-left" type="submit" value="Page précedente">
    </form>
    {{/hasPrev}}
    {{#hasNext}}
    <form  method="GET" action="/next">
        <input class="btn btn-secondary float-right" type="submit" value="Page suivante">
    </form>
    {{/hasNext}}
</div>
{{> footer}}