{{> header}}
<div form="text-inline">
    <h3 class="text-white">Jeu(x) trouvé(s):
        <h3 class="text-light">{{count}}</h3>
    </h3>
</div>
<br>
<br>
<br> {{#results}}
<div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
        <h1 class="text-danger">{{name}}</h1>
        <h5 class="text-secondary">Note : {{rating}}/5</h5>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plateformes
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> {{#platforms}}
                <h5>{{platform.name}}</h5>
                {{/platforms}}</a>
            </div>
        </div>
        <p>
            {{#authenticated}}
            <form method="POST" action="/ajout/:{{id}}/:{{name}}">
                <input class="btn btn-info" type="submit" value="Ajouter à ma liste">
            </form>
            {{/authenticated}}
        </p>
    </div>
    <div class="col">
        <img src="{{background_image}}" class="img-fluid" alt="Responsive image">
    </div>
</div>
<br>
<br> {{/results}}

<div class="form-inline justify-content-between">
    <form class="form-inline" method="GET" action="/previous">
        <input class="btn btn-light" type="submit" value="Page précedente">
    </form>
    <form class="form-inline" method="GET" action="/next">
        <input class="btn btn-light" type="submit" value="Page suivante">

    </form>
</div>
{{> footer}}