{{> header}}
<h1>Jeu(x) trouvé(s): {{results.length}}</h1>


{{#results}}
<div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
        <h1>{{name}}</h1>
        <p>
            {{#authenticated}}
            <button class="btn btn-primary" >Ajouter à ma liste</button>{{/authenticated}}
        </p>
    </div>
    <div class="col">
        <img src="{{background_image}}" class="img-fluid" alt="Responsive image">
    </div>
</div>

{{/results}}

<form method="POST" action="/next">
    <input type="submit" value="Prochaine page" >
    </form>
{{> footer}}