{{> header}}
<form href="#" style="padding-right: 70%;">
    <label for="inlineFormInputGroupUsername2">Username</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Pseudo">
    </div>


    <form class="form-inline">
        <div class="form-group">
            <label for="inputPassword6">Mot de passe</label>
            <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted">
            Must be 8-20 characters long.
          </small>
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{{> footer}}